body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    line-height: 1.6;
}
.sidebar-top{
    background-color: rgba(15, 165, 72, 0.568);
    color: crimson;
}
.sidebar-bottom{
    background-color: rgb(211, 84, 34);
    color: yellow;
}
